html
    head
        title= title
    body
        h1= message
        p= para
        if user
            form(action="/interact/device", method="post")
                input(type="text", name="userCode")
                input(type="submit", value="Submit")
        else
            ul
                each resource in resources
                    li= 'Actions: ' + resource.actions.join(", ")
                    li= 'Locations: ' + resource.locations.join(", ")
                    li= 'Data: ' + resource.data.join(", ")
                    br

            form(action="/interact/approve", method="post")
                button(type="submit", value="true", name="approved") Approve
                button(type="submit", value="false", name="approved") Decline